<div>


    <div class="ml-auto my-3">
        <form action="/admin/concerts/add" method="post">
            <input class='form-control' type="submit" value="Добавить концерт" name="submit">
        </form>

    </div>
    {{#each concerts}}
    <div concertId="{{this.id}}" class="row searchable event-row">
        <div class="concert  col-xl-8 col-md-10 offset-xl-2 offset-md-1 col-10 offset-1">
            <div class="row">
                <div class="col-12 col-md-4 p-0">
                    <img class="poster" loading=lazy src="{{this.imagesrc}}" alt="">
                    <form class="form-group" action="/admin/concerts/posterupload" method="post"
                        enctype="multipart/form-data">
                        <input type="hidden" name="id" value="{{this.id}}">
                        <input class='form-control fileToUpload' type="file" name="fileToUpload">
                        <input disabled="true" class='form-control' type="submit" value="Загрузить афишу" name="submit">
                    </form>
                </div>
                <div class="col-12 col-md-8 p-4">

                    <form class='form-group' action="/admin/concerts/edit" id="edit-form-{{this.id}}" method="POST">
                        <input type="hidden" name="id" value="{{this.id}}">
                        <textarea name="title" class="form-control w-100" placeholder="Название" rows="1">{{this.title}}</textarea>
                        <textarea name="description" placeholder="Описание" class="form-control w-100"
                            rows="10">{{this.description}}</textarea>
                        {{!-- <textarea name="date" class="form-control w-100" rows="1">{{this.date}}</textarea> --}}
                        <input type="datetime-local" class="form-control" name="date"  value="{{this.date}}">
                        <textarea name="place" class="form-control w-100" placeholder="Зал" rows="1">{{this.place}}</textarea>
                        <div class="form-check">
                            <input type="checkbox" name="hidden" value='1'  id="hidden" {{#if this.hidden}} checked{{else}}{{/if}}>
                            <label class="form-check-label">Скрыть концерт из афиши</label>
                        </div>
                    </form>

                </div>

                <div class="col-12">
                    <div class="form-group">
                        <input name='{{this.id}}' class='delete-button form-control' class="btn btn-sm btn-secondary"
                            type="submit" value="Удалить концерт"></input>
                        <input name='edit-form-{{this.id}}' class='save-button form-control' type="submit"
                            value="Сохранить концерт"></input>

                    </div>

                </div>
            </div>
        </div>


    </div>
    {{/each}}




    <!-- Modal -->
    <div class="modal fade" id="deleteModal" name='' tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Подтверждение удаления</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Вы действительно хотите удалить концерт? Это действие невозможно отменить!</p>

                </div>
                <div class="modal-footer">
                    <button id="modal-cancel" type="button" class="btn btn-secondary"
                        data-dismiss="modal">Отмена</button>
                    <button id="modal-delete" type="button" class="btn btn-danger">Удалить</button>
                </div>
            </div>
        </div>
    </div>


</div>







<script type="text/javascript" src="https://code.jquery.com/color/jquery.color-2.1.2.js"></script>
<script>



    $(document).ready(function () {
        $(".delete-button").click(function () {
            //$(this).parent().parent().parent().css('display', 'none');
            //$.post("/admin/concerts/delete", { id: $(this).attr('name') });
            var modal = $('#deleteModal');
            modal.attr('name', $(this).attr('name'));
            modal.modal();
        });

        $("#modal-delete").click(function () {
            let modal = $('#deleteModal');
            let idToDelete = modal.attr('name');
            console.log(idToDelete);
            $(`[concertId=${idToDelete}]`).css('display', 'none');
            $.post("/admin/concerts/delete", { id: idToDelete });
            modal.modal('hide');

        });

        $(".fileToUpload").change(function () {
      if ($(this).val().length>0){
            $(this).siblings('.form-control').prop('disabled', false);

      }
        });

        $(".save-button").click(function (ev) {
            var target=ev.target;
            target.setAttribute('disabled','disabled');
            var formName = $(this).attr('name');
            var formData = $('#' + formName).serialize();
            $.post("/admin/concerts/edit", formData, (data, status) => {
                                target.removeAttribute('disabled');
                var oldColor = $(this).css('backgroundColor');
                $(this).animate({ backgroundColor: '#32CD32' }, 1000, function () {
                    $(this).animate({ backgroundColor: oldColor });
                });
            }).fail(() => {
                target.removeAttribute('disabled');
                var oldColor = $(this).css('backgroundColor');
                $(this).animate({ backgroundColor: '#8B0000' }, 1000, function () {
                    $(this).animate({ backgroundColor: oldColor });
                });
            });

        });
    });
    
</script>