
<nav class="navbar sticky-top navbar-expand-lg navbar-dark">

<a class="navbar-brand" href="/">Evgeny Bushkov</a>



  <button class="navbar-toggler navbar-toggler-right mr-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>



  <div class="collapse navbar-collapse nav-items" id="navbarSupportedContent">



    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/violinist">{{__ 'layout.navbar.violinist'}}</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="/conductor">{{__ 'layout.navbar.conductor'}}</a>  
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/teacher">{{__ 'layout.navbar.teacher'}}</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="/gallery">{{__ 'layout.navbar.concerts'}}</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="/gallery">{{__ 'layout.navbar.gallery'}}</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="/contacts">{{__ 'layout.navbar.contacts'}}</a>
      </li> 

      <li>
        <span class='dropdown float-left'>
        <a class="nav-link dropdown-toggle locale-change" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{__ 'layout.navbar.language'}}
        </a>
        <div class="dropdown-menu dropdown-menu-lang animate slideIn" aria-labelledby="navbarDropdown">
          <a class='dropdown-item locale-change' href="" id='ru'>Русский</a>
          <a class='dropdown-item locale-change' href="" id='en'>English</a>          
        </div>        
  </span>

      </li>
      
    </ul>
    
    

  </div>
</nav>