<!DOCTYPE html>
<html lang="{{lang}}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <meta name="description" content="{{__ 'description'}}">
  <link rel="alternate" hreflang="x-default" href="{{fullUrl}}" />
  {{#each locales}}
  <link rel="alternate" hreflang="{{this}}" href="{{../fullUrl}}?lang={{this}}" />
  {{/each}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="/css/simple-lightbox.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/site.css">
  {{> analytics}}
  {{> scripts}}
  {{> favico}}
</head>

<body data-barba="wrapper">
  {{> navbar}}
  <main data-barba="container">
    {{{body}}}
  </main>
  {{> footer}}
</body>

</html>